

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.image,
	.image img,
	.button	
	{
		position: relative;
		-ms-behavior: url('css/ie/PIE.htc');
	}

	/* Section/Article */

		section,
		article
		{
		}
		
			section > .last-child,
			article > .last-child
			{
				margin-bottom: 0;
			}

			section.last-child,
			article.last-child
			{
				margin-bottom: 0;
			}

	/* List */

		ul.icons
		{
		}	
		
			ul.icons li
			{
			}
			
				ul.icons a
				{
					position: relative;
					-ms-behavior: url('css/ie/PIE.htc');
					border: solid 1px #ddd;
				}

	/* Form */

		form
		{
		}
		
			form input.text,
			form select,
			form .select,
			form textarea
			{
				position: relative;
				-ms-behavior: url('css/ie/PIE.htc');
				border: solid 1px #ddd;
				line-height: 1.25em;
			}

			form select
			{
				position: relative;
			}
			
				form select option
				{
					color: #000;
				}
				
			form .select
			{
			}

				form .select select
				{
					width: 100%;
				}

				form .select:before
				{
					display: none;
				}
				
	/* Button */
		
		.button.alt
		{
			border: solid 1px #ddd;
		}

	/* Feature Icon */

		.feature-icon
		{
			padding-bottom: 0;
		}
		
			.feature-icon:before,
			.feature-icon:after
			{
				display: none;
			}

			.feature-icon .icon
			{
				position: relative;
				-ms-behavior: url('css/ie/PIE.htc');
				background: #fff;
			}

				.feature-icon .icon:before
				{
					font-size: 6em;
					color: #3d3d3d;
				}
	
/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		background-size:			cover;
		background-position:		auto;
		background-color: rgba(66, 104, 162, 1);
	}

/*********************************************************************************/
/* Main Sections                                                                 */
/*********************************************************************************/

	.main
	{
	}

		.main > .content
		{
		}

		.main > .content.style1
		{
			/* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#412e4c, endColorstr=#a56365); */
			background-color: rgba(66, 104, 162, 1);
		}

		.main > .content.style2
		{
			/* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#85505f, endColorstr=#384955); */
			background-color: #507DC2;
		}

		.main > .content.style3
		{
			/* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2f394e, endColorstr=#5f796b); */
			background-color: rgba(28, 28, 29, 1);
		}

		.main > .content.styleCustom
		{
			/* filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#2f394e, endColorstr=#5f796b); */
			background-color: #507DC2;
		}
