

/*********************************************************************************/
/* Main Sections                                                                 */
/*********************************************************************************/

	.main
	{
	}

		.main > .content
		{
		}

		.main > .content.style1
		{
			background-color: rgba(66, 104, 162, 1);
		}

		.main > .content.style2
		{
			background-color: #507DC2;
		}

		.main > .content.style3
		{
			background-color: rgba(28, 28, 29, 1);
		}

		.main > .content.styleCustom
		{
			background-color: #507DC2;
		}