.pasteBox {
	border-style: dotted;
	/* border-color: #fff; */
	border-width: 0px;
	height: 40px;
	/* width: 746px; */
	background: rgba(255,255,255,0.15);
	/* box-shadow: inset 0 0 0 1px #fff; */
	color: #fff;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.olights {
	color: #ffa61a;
}

.button.realTime {
	background-color: #E04646;
}