.pasteBox {
	border-width: 0px;
	height: 40px;
	background: rgba(255,255,255,0.15);
	color: #fff;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.olights {
	color: #ffa61a;
}

.button.realTime {
	background-color: #E04646;
}

#header i.icon-pasting-logo {
	font-size: 15vh;
}

/* Pasting font icon */
@font-face {
	font-family: 'pasting';
	src:url('../fonts/pasting.eot?km24ma');
	src:url('../fonts/pasting.eot?#iefixkm24ma') format('embedded-opentype'),
		url('../fonts/pasting.woff?km24ma') format('woff'),
		url('../fonts/pasting.ttf?km24ma') format('truetype'),
		url('../fonts/pasting.svg?km24ma#pasting') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'pasting';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pasting-logo:before {
	content: "\e600";
}

.myGrandHead {
	position: fixed;
	width: 100%;
	color: white;
	z-index: 99;
	padding: 10px 20px 10px 20px;
	font-size: 22px;
  	background-color: #125FB6;
  	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  	height: 57px;
}

.myGrandHead i.icon-pasting-logo {
	font-size: 35px;
	float: left;
	display: inline-block;
}

.myGrandHead nav {
	float: right;
	display: inline-block;
}

.myGrandHead nav a {
	border: 0px;
}

#header {
	z-index: 100;
}

.featureFlag {
	border: 0px;
	position: absolute;
	bottom: 150px;
}

.featureFlag i{
	font-size: 30px;
}

.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 30px;
  background:  #125FB6;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -16px;
  color: white;
}

.navmenu {
	margin-top: 3px;
}

div.pastingBlock {
	font-size: 13px;
	font-weight: 100;
  	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,.3);
  	box-shadow: 0 3px 10px rgba(0,0,0,.3);
  	background: #fff;
  	border-left: 5px solid #125FB6;
	padding: 20px 80px 20px 40px; 
	text-align: left;
	text-decoration: none;
	color: #7b8087;
	cursor: pointer;
}

div.pastingBlock:hover {
	background: rgba(0, 0, 0, 0.02);
	cursor: pointer;
}

span.truncate {
	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

.hljs {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  padding: 15px;
  padding-left: 20px;
}