.pasteBox {
	border-width: 0px;
	height: 40px;
	background: rgba(255,255,255,0.15);
	color: #fff;
}

.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.olights {
	color: #ffa61a;
}

.button.realTime {
	background-color: #E04646;
}