<%
	if (obj.private) {
		var copyUrl		= obj.baseUrl + "/p/" + obj.documentId + "/" + obj.hashId;
    	var copyLabel	= "COPY SECRET LINK";
    	var rawUrl 		= obj.apiUrl + "/raw/" + obj.documentId + "/" + obj.hashId;
	} else {
		var copyUrl		= obj.baseUrl + "/p/" + obj.documentId;
    	var copyLabel	= "COPY LINK";
    	var rawUrl 		= obj.apiUrl + "/raw/" + obj.documentId;
	}
%>
<li><a data-clipboard-text="<%= copyUrl %>" title="Click to copy link" class="p-copy"><%= copyLabel %></a></li>
<li><a href="<%= rawUrl %>" target="_blank">RAW</a></li>

<% if (obj.userId == obj.ownerId) { %>
	<li><a class="delete" data-del-documentid="<%= obj.documentId %>">DELETE</a></li>
<% } %>