<section id="footer">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
	</ul>
	<div class="copyright">
		<a href="https://www.npmjs.com/package/pasting">GET PASTING CLI</a></br>
		BETA VERSION
		<ul class="menu">
			<li><a href="/">PASTING.IO</a></li>
			<li>&copy; JS. All rights reserved.</li>
			<li><a href="http://pastingio.blogspot.com.ar" target="_blank">TECH BLOG</a></li>
		</ul>
	</div>
</section>