<!-- Footer -->
<section id="footer">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<!-- <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li> -->
	</ul>
	<div class="copyright">
		<a href="/team">OUR TEAM</a>
		<ul class="menu">
			<li><a href="/">PASTING.IO</a></li>
			<li>&copy; JSCLOUD. All rights reserved.</li>
			<li><a href="http://pastingio.blogspot.com.ar/">TECH BLOG</a></li>
		</ul>
	</div>
</section>