<!-- Default Header -->
<section id="header" class="dark">
	<img src="assets/images/logo.png"/>
	<header>
		<!-- <h1>PASTING.IO </h1> -->
		<p>Paste and share text or code. Fast, free and real time support</p>
		<div class="center pasteBox" title="Press CONTROL+V on your keyboard to paste a text from your clipboard'" id="pasteBox">
		 	<p>PRESS <span class="olights" id="cmd">CONTROL</span> + <span class="olights">V</span></span> </p>
		</div>
	</header>
	<footer>
		<a href="#mainFeatures" class="button scrolly">Pasting Features ?</a>
		<a href="#pasteText" class="button scrolly" id="pastingButton">or Type and share !</a>
	</footer>
</section>