<!-- pastingSection -->
<section id="pasteText" class="main">
	<header>
		<div class="container">
			<h2>CREATE YOUR PASTING CLOUD</h2>
			<h2>SHARE YOUR CLIPBOARD</h2>
		</div>
	</header>
	<div class="content style4 featured">
		<div class="container 75%">
			<form method="post" action="#" name="pastingForm">
				<div class="row 50%">
					<div class="6u"><input type="text" name="email" placeholder="Enter or create your username here" id="email" required /></div>
					<div class="6u"><input type="text" placeholder="Enter or create your password here" id="pwd" /></div>
				</div>
				<div class="row 50%">
					<div class="12u"><textarea placeholder="Paste or type your text!" id="pastingStr" required></textarea></div>
				</div>
				<p>Create your username and access your pastes by entering: pasting.io/yourUsername</p>
				<div class="row">
					<div class="12u">
						<ul class="actions">
							<li><input type="submit" class="button" value="Share Public" id="shareBtn" /></li>
							<li><input type="submit" class="button" value="Share Private" id="shareBtnSecret" /></li>
							<!-- <li><input type="submit" class="button realTime" value="Real Time" id="realTimeBtn" /></li> -->
							<!-- <li><input type="reset" class="button alt" value="Clear Text " /></li> -->
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>