<!-- pastingTeam -->
<section id="ourTeam" class="main">

	<header>
		<div class="container">
			<i class="icon-pasting-logo" style="font-size: 15vh;color: rgb(47, 123, 187);"></i>
			<h2>PASTING.IO</h2>
		</div>
	</header>

	<div class="content dark style3">
		<div class="container">
			<h2>PASTING TEAM</h2>
			<div class="row">
				<div class="4u">
					<section>
						<h3>Augue vivamus sed ipsum commodo lorem dolor</h3>
						<p>Gravida dis placerat lectus ante vel nunc euismod est turpis sodales. Diam
						tempor dui lacinia eget ornare varius gravida. Gravida dis placerat lectus ante 
						vel nunc euismod est turpis sodales. Diam tempor dui lacinia accumsan vivamus 
						augue cubilia vivamus nisi eu eget ornare varius gravida euismod.</p>
					</section>
				</div>
				<div class="8u">
					<div class="row no-collapse">
						<div class="6u">
							<a href="https://ar.linkedin.com/in/juansanzone" class="image fit">
								<img src="https://farm9.staticflickr.com/8650/16132444130_ba7f50ffe1_n.jpg"/>
								<h2>Juan Sanzone | Software Enginner </h2>
							</a>
						</div>
						<div class="6u">
							<a href="https://ar.linkedin.com/in/alejandrobednarik" class="image fit">
								<img src="https://farm8.staticflickr.com/7544/16137524750_4b6ebd1c90_n.jpg"/>
								<h2>Alejandro Bednarik | System Enginner</h2>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>