<!-- pastingConsole -->
<section id="pastingConsole" class="main">

	<header>
		<div class="container">
			<h2>PASTING FOR YOUR CONSOLE </h2>
			<p>Use Pasting cli. Get the power for Linux and Mac. <br />
			You may share directly from your console. <a href="#">[Watch video]</a></p>
		</div>
	</header>

	<div class="content dark style1 featured" style="background: linear-gradient(45deg, #243FAB, #3F79A3, #1E2337);">
		<div class="container">
			<div class="row">
				<div class="container">
					<h2>Install via: <a href="https://www.npmjs.com"> npm </a> </h2>
					<p style="background-color: rgba(0, 0, 0, 0.64);"> sudo npm install -g pastingio </p>

					<h2>Configure your Pasting.io credentials </h2>
					<p style="background-color: rgba(0, 0, 0, 0.64);"> pasting -u yourUsername -p yourPassword </p>

					<h2>Create your first pasting </h2>
					<p style="background-color: rgba(0, 0, 0, 0.64);;"> echo "Mi first pasting" | pasting </p>

					<h2>Advanced pasting? Use the pipe and rocks! </h2>
					<p style="background-color: rgba(0, 0, 0, 0.64);"> ls -la | pasting </p>
				</div>
		</div>
	</div>
</section>