<div class="content dark style1 featured" id="pastesTable">
	<div class="container">
		<section>
		<!--
			<header>
				<h3>Other pastes</h3>
			</header>
		-->
			<div class="table-wrapper">
				<table class="default">
					<tbody>
						<%
					    var length = obj.pastes.length - 1;
					    for (var index = 1; index <= length; index++) {
					    	var paste = obj.pastes[index];

					    	var displayText =  paste.text.substring(0,98) + ' ..........';

							if ("1" == paste.protected) {
								var copyUrl		= obj.baseUrl + "/p/" + paste.id + "/" + paste.public_password;
						    	var copyLabel	= "COPY SECRET LINK";
						    	var rawUrl 		= obj.apiUrl + "/raw/" + paste.id + "/" + paste.public_password;
							} else {
								var copyUrl		= obj.baseUrl + "/p/" + paste.id;
						    	var copyLabel	= "COPY LINK";
						    	var rawUrl 		= obj.apiUrl + "/raw/" + paste.id;
							}
						%>
							<tr>
								<td>
									<div class="pastingBlock" onclick="location.href='<%= copyUrl %>';">
										<%= displayText %>
									</div>
									<ul class="menu">
										<li>
											<a href="<%= copyUrl %>">VIEW</a>
										</li>
										<li>
											<a data-clipboard-text="<%= copyUrl %>" title="Click to copy link" class="p-copy"><%= copyLabel %></a>
										</li>
										<li>
											<a href="<%= rawUrl %>" target="_blank">RAW</a>
										</li>

										<% if (paste.user_id == obj.loggedId) { %>
											<li>
												<a class="delete" data-del-documentid="<%= paste.id %>">DELETE</a>
											</li>
										<% } %>
									</ul>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>