<div class="content dark style1 featured" id="pastesTable" style="padding: 0em 0 6em 0;">
	<div class="container">
		<section>	
			<div class="table-wrapper">
				<table class="default">
					<tbody>
						<%
					    var length = obj.pastes.length - 1;
					    for (var index = 0; index <= length; index++) {
					    	var paste = obj.pastes[index];

					    	displayText =  paste.text.substring(0,98) + ' ...';
					    	displayText = safe_tags_replace(displayText);

							if ("1" == paste.protected) {
								var copyUrl		= obj.baseUrl + "/p/" + paste.id + "/" + paste.public_password;
						    	var copyLabel	= "COPY LINK";
						    	var rawUrl 		= obj.apiUrl + "/raw/" + paste.id + "/" + paste.public_password;
							} else {
								var copyUrl		= obj.baseUrl + "/p/" + paste.id;
						    	var copyLabel	= "COPY LINK";
						    	var rawUrl 		= obj.apiUrl + "/raw/" + paste.id;
							}
						%>
							<tr>
								<td>
								    <div class="pasteBlock">
										<div class="content" onclick="location.href='<%= copyUrl %>';">
										<div>
											<% if ("1" == paste.protected) { %>
												<i class="fa fa-lock" style="font-size: 14px;color:rgba(18, 95, 182, 0.45);"></i>
											<% } %>
											<%= displayText %>
											<paper-ripple fit></paper-ripple>
										</div>
										</div>

										<% if (paste.user_id == obj.loggedId) { %>
										<div class="button">
											<div class="delete" data-del-documentid="<%= paste.id %>" fit style="color:#B61212;">DELETE</div>
										</div>
										<% } %>

										<div class="button">
											<div onclick="location.href='<%= rawUrl %>';" fit>RAW</div>
										</div>

									   	<div class="button">
									        <div class="p-copy" data-clipboard-text="<%= copyUrl %>" fit><%= copyLabel %></div>
									    </div>
									</div>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>