<!-- mainFeatures -->
<section id="mainFeatures" class="main">
	<header>
		<div class="container">
			<h2>Paste and Share text or code</h2>
			<p>PASTING.IO is simple and fast. Kill the middle man<br />
			Your clipboard in all devices with one click; Anywhere, Anytime</p>
		</div>
	</header>
	<div class="content dark style1 featured">
		<div class="container">
			<div class="row">
				<div class="4u">
					<section>
						<span class="feature-icon"><span class="icon fa-clock-o"></span></span>
						<header>
							<h3>Fast & Free</h3>
						</header>
						<p>Texto descri</p>
					</section>
				</div>
				<div class="4u">
					<section>
						<span class="feature-icon"><span class="icon fa-cloud"></span></span>
						<header>
							<h3>Cloud & Real Time</h3>
						</header>
						<p>Texto descri</p>
					</section>
				</div>
				<div class="4u">
					<section>
						<span class="feature-icon"><span class="icon fa-slideshare"></span></span>
						<header>
							<h3>By Nerds, for Nerds </h3>
						</header>
						<p>Texto descri</p>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<footer>
						<a href="#pasteText" class="button scrolly">Pasting Now !</a>
					</footer>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- pastingSection (pasteText) -->
<section id="pasteText" class="main">
	<header>
		<div class="container">
			<h2>SHARE YOUR CLIPBOARD</h2>
			<h2>or EMIT IN REAL TIME</h2>
		</div>
	</header>
	<div class="content style4 featured">
		<div class="container 75%">
			<form method="post" action="#" name="pastingForm">
				<div class="row 50%">
					<div class="6u"><input type="text" name="email" placeholder="Enter username, email or secret phrase" id="email" required /></div>
					<div class="6u"><input type="text" placeholder="Set password" /></div>
				</div>
				<div class="row 50%">
					<div class="12u"><textarea placeholder="Paste or type your text here!" id="pastingStr" required></textarea></div>
				</div>
				<div class="row">
					<div class="12u">
						<ul class="actions">
							<li><input type="submit" class="button" value="Share Now!" /></li>
							<li><input type="submit" class="button realTime" value="Real Time!" id="realTimeBtn" /></li>
							<li><input type="reset" class="button alt" value="Clear Text " /></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<!-- ourTeam -->
<section id="ourTeam" class="main">
	<div class="content dark style3">
		<div class="container">
			<h2>OUR TEAM</h2>
			<p>--<br /></p>
		</div>
	</div>
</section>

<!-- Footer -->
<section id="footer">
	<ul class="icons">
		<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
		<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
		<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
		<!-- <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li> -->
	</ul>
	<div class="copyright">
		<ul class="menu">
			<li>&copy; JSCLOUD. All rights reserved.</li><li><a href="http://pasting.io">PASTING.IO</a></li>
		</ul>
	</div>
</section>