<section class="main">
	<header>
		<div class="container">
			<h2>pasting.io/<%= obj.user %></h2>
			<p></p>
			<ul class="menu">
				<li><a>COPY TEXT</a></li>
				<li><a>COPY LINK</a></li>
				<li><a>RAW</a></li>
				<li><a>DELETE</a></li>
			</ul>
			<pre id="textArea"></pre>
		</div>
	</header>
	<div class="content styleCustom dark">
		<div class="container">
			<section>
				<header>
					<h3>Public pastes:</h3>
				</header>
				<div class="table-wrapper">
					<table class="default" id="pastesTable">
					</table>
				</div>
			</section>
		</div>
	</div>
</section>