<section class="main">
	<header>
		<div class="container">
			<h2>PASTING.IO</h2>
			<p>Paste and share your text. Fast, free and real time support</p>
			<p id="textArea"></p>
		</div>
	</header>
	<div class="content style1 dark">
		<div class="container">
			<section>
				<header>
					<h3>Pasting Cloud history: <span id="userSpan"> <%= obj.user %> </span></h3>
				</header>
				<div class="table-wrapper">
					<table class="default">
						<thead>
							<tr>
								<th>ID</th>
								<th>Name</th>
								<th>Description</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>00001</td>
								<td>Lorem ipsum dolor</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>Delete</td>
							</tr>
							<tr>
								<td>00002</td>
								<td>Sit amet nullam</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>Delete</td>
							</tr>
							<tr>
								<td>00003</td>
								<td>Feugiat felis viverra</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>Delete</td>
							</tr>
							<tr>
								<td>00004</td>
								<td>Sagittis enim felis</td>
								<td>Ut porttitor sagittis lorem quis nisi ornare.</td>
								<td>Delete</td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
	</div>
</section>